@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'JetBrains Mono', monospace;
}

button:active,
a:active {
  transform: translateY(1px);
}

@layer components {
  .sections {
    @apply border-b-2 border-transparent transition-colors hover:border-lime-500;
  }

  .links {
    @apply hover:text-lime-500 transition-colors;
  }

  span {
    @apply text-lime-500;
  }
}
