@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.stop-scroll) {
  overflow: hidden;
}

* {
  font-family: 'JetBrains Mono', monospace;
  scroll-behavior: smooth;
}

/* custom scrollbar */
::-webkit-scrollbar {
  background-color: #18181b;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #505050;

  &:hover {
    background-color: #727272;
  }
}

button:active,
a:active {
  transform: translateY(1px);
}

@layer components {
  .sections {
    @apply transition-colors hover:border-lime-500 hover:underline;
  }

  .links {
    @apply transition-colors hover:text-lime-500;
  }

  .fade-element {
    @apply opacity-0;
  }

  span {
    @apply text-lime-500;
  }

  .container-hero {
    width: 100%;
    max-width: 1280px;

    @media (max-width: 1440px) {
      max-width: 1024px;
    }

    @media (max-width: 1199px) {
      max-width: 900px;
    }
  }
}

.neon {
  border-radius: 4px;
  background-color: #84cc16;
  box-shadow:
    0 0 0.2rem #fff,
    0 0 0.2rem #fff,
    0 0 2rem #84cc16,
    0 0 0.8rem #84cc16,
    0 0 2.8rem #84cc16,
    inset 0 0 1.3rem #84cc16;
}

.neon-shadow {
  box-shadow:
    0 0 2px #fff,
    0 0 24px #84cc16;
}

.animate-open {
  animation-name: openAnime; /* Name of the animation as defined above */
  animation-duration: 0.2s; /* Duration of the animation */
  animation-timing-function: ease-out; /* Constant speed throughout the animation */
  animation-fill-mode: forwards; /* Keeps the end state after the animation ends */
}

.animate-close {
  animation-name: closeAnime; /* Name of the animation as defined above */
  animation-duration: 0.2s; /* Duration of the animation */
  animation-timing-function: ease-in; /* Constant speed throughout the animation */
  animation-fill-mode: forwards; /* Keeps the end state after the animation ends */
}

@keyframes closeAnime {
  0% {
    width: 280px; /* Ending width */
  }
  100% {
    width: 0px; /* Starting width */
  }
}

@keyframes openAnime {
  0% {
    width: 0px; /* Starting width */
  }
  100% {
    width: 280px; /* Ending width */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-slide {
  opacity: 0;
  animation: fadeInSlide 1.5s forwards;
}

@keyframes infiniteSlide {
  // caso alterar esse valor, alterar também em About.tsx
  from {
    right: -64px;
  }
  to {
    left: -64px;
  }
}

.infinite-slide {
  animation: infiniteSlide 16s linear infinite;
}

.slider-mask {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}
